body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin: 0;
    background: #f0f0f0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;           
    flex-direction: column;
}

.container-fluid {
    text-align: center;
    display: flex;           
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}


.tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 300px; 
}

.casilla {
    background: lightgray;
    border: 1px solid #000;
    width: 100%;
    aspect-ratio: 1 / 1; 
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topin {
  background-image: url("/topo.png");
  background-size: cover;
  background-position: center;
  width: 100%; 
  height: 100%;
}

.topin.halloween {
  background-image: url("/murcielago.png");
}



.instrucciones {
    margin: 0 auto 20px auto; 
    padding: 15px;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;      
}

.instrucciones ul,
.instrucciones ol {
    list-style-position: inside;
    padding-left: 0;            
    margin: 0 auto;             
    display: inline-block;      
    text-align: left;           
}
