<div class="container-fluid">
<div class="instrucciones">
  <h2>🎮 Instrucciones del juego Mata Topos</h2>
  <p>
    El tablero tiene <strong>9 casillas</strong> dispuestas en una cuadrícula de 3x3.
  </p>
  <ol>
    <li>Un <strong>topo</strong> aparece de forma aleatoria en una de las casillas.</li>
    <li>Haz <strong>clic</strong> en la casilla donde aparezca el topo.</li>
    <li>Si aciertas: ganas <strong>+1 punto</strong> y el topo cambia de lugar.</li>
    <li>Si fallas: la puntuación se <strong>reinicia a 0</strong>.</li>
  </ol>
  <p>
    El marcador de puntos se muestra debajo del tablero. ¡Intenta conseguir la mayor puntuación posible!
  </p>
</div>

<div class="tablero">
  <div class="casilla" *ngFor="let i of [1,2,3,4,5,6,7,8,9]" (click)="userClick(i)">
    <ng-container *ngIf="numero === i">
      <div *ngIf="!modoHalloween" class="topin"></div>
      <div *ngIf="modoHalloween" class="murciegalo"></div>
    </ng-container>
  </div>
  <p>PUNTOS: {{ puntos }}</p>
</div>
</div>