.animacion {
  width: 100px;
  height: 100px;
  background-color: #9bb53f;
  border-radius: 10%;
  animation: crecerReducir 2s infinite;
  margin: 50px auto;
}

.container {  
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

@keyframes crecerReducir {
  0% { transform: scale(2.5); }
  50% { transform: scale(0.5); }
  75% { transform: scale(2); }
  100% { transform: scale(3); }
}

.fant { 
  background-image: url('/halloween/fantasmiko.png');
  background-size: cover;
  width: 120px;
  height: 120px;
  margin: 50px auto;
  animation: runFantasma 1s steps(4) infinite, moveFantasma 7s ;
}

@keyframes runFantasma {
  from { background-position-x: 0px; }
  to { background-position-x: -480px; } 
}

@keyframes moveFantasma {
  0% {
    transform: translate(0, 0) scaleX(1); 
  }
  20% {
    transform: translate(-220px, -200px) scaleX(1);
  }
  40% {
    transform: translate(-150px, 150px) scaleX(1); 
  }
  60% {
    transform: translate(150px, 150px) scaleX(1); 
  }
  80% {
    transform: translate(150px, -150px) scaleX(1);
  }
  100% {
    transform: translate(0, 0) scaleX(1); 
  }
}

.granizo {
  background-image: url('/navidad/nevando1.png');
  background-repeat: repeat;
  width: 100vw;           
  height: 100vh;          
  animation: caerNieve 10s linear infinite;
  position: fixed;        
  top: 0;
  left: 0;
  z-index: 10;             
  pointer-events: none;    
}
.montanica {
  background-image: url('/navidad/montanica.png');
  background-repeat: repeat;
  width: 100vw;
  height: 130px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  transform: translateY(50px);
  animation: aparecerMontana 5s ease-in forwards;
}

.santa{
  background-image: url('/navidad/santa_Pared.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  position: fixed;
  left: 200px;
  z-index: 15;
  animation: AhoraSN 3s linear infinite;
}

@keyframes AhoraSN {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateY(0);
  }


}
@keyframes aparecerMontana {
  0% {
    background-position: 0 -2%;
  }
  100% {
    background-position: 0 160%;
  }
}


@keyframes caerNieve {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}


@media (max-width: 768px) {
  .granizo {
    animation-duration: 10s;
  }
}

@media (min-width: 1600px) {
  .granizo {
    animation-duration: 6s; 
  }
}
