.animacion {
  margin-top: 300px;
  width: 100px;
  height: 100px;
  background-color: #9bb53f;
  border-radius: 10%;
  animation: crecerReducir 2s infinite;
  margin: auto;
}

.container {  
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 300px;
  padding: 1rem;
}

@keyframes crecerReducir {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}