.contenedor{
    width: 100px;
    height: 300px;
    background-color: #57565C;
    border: solid 2px black;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorNevado{
    background-image: url('/navidad/uonevado.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    width: 103px;
    border-radius: 10px;
    z-index:2;   
    margin-top:-4px; 
}

.container-fluid {
    text-align: center;
    display: flex;           
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}

.num{
    font-size: 50px;
}

.BtnReset{
    background-color: rgb(255, 111, 111);
    border: solid 2px black;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

.BtnMas1{
    background-color: rgb(255, 165, 0);
    border: solid 2px black;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}
.BtnMenos1{
    background-color: rgb(0, 255, 0);
    border: solid 2px black;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

.botones{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
}

button{
    margin: 20px;
}

.circulo{
    width: 75px;
    height: 75px;
    margin: 15px auto ;
    border-radius: 50%;
    z-index:30;   
    border: solid 2px black;
}

.verde{
    background-color: rgb(13, 197, 13);
}
.rojo{
    background-color: red;
}
.naranja{
     animation: verdeOscuro 1.25s infinite alternate;
}

.RA{
    background-color: rgba(107, 6, 6, 0.466);
}
.NA{
    background-color: rgba(143, 65, 1, 0.568);
}
.VA{
    background-color: rgba(2, 63, 2, 0.575);
}
@keyframes verdeOscuro {
    0%{
        background-color: #ff8f44;
    }
    50%{
        background-color: rgba(143, 65, 1, 0.568);
    }
    100%{
        background-color: #ff8f44;
    }
}


.fantasmones{
    display:flex;
}

.fantasmiko1,
.fantasmiko2,
.fantasmiko3 {
  width: 74px;
  height: 62px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-duration: 5s;
  animation-fill-mode: forwards; 
}

.fantasmiko1 {
  background-image: url('/halloween/Ghost1.png');
  animation-name: ghost1;
}

.fantasmiko2 {
  background-image: url('/halloween/Ghost2.png');
  animation-name: ghost2;
}

.fantasmiko3 {
  background-image: url('/halloween/Ghost3.png');
  animation-name: ghost3;
}


@keyframes ghost1 {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translate(-1000px, -1000px) scaleX(1);
    }
}

@keyframes ghost2 {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translate(0px, -1000px) scaleX(1);
    }
}
@keyframes ghost3 {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translate(1000px, -1000px) scaleX(1);
    }
}



.coche{
    background-image: url('/images/corsita.png');
    width: 200px;
    height: 120px;
    background-size: cover;
    animation: moverCorsa 6s linear ;
    margin-top: 50px;
    animation-fill-mode: forwards; 
}
.cocheHallo {
    background-image: url('/halloween/BatiCoche.png');
    width: 200px;
    height: 200px;
    background-size: cover;
    animation: moverCoche 3s linear ;
    margin-top: 50px;
    animation-fill-mode: forwards; 
}

.Trineo{
    background-image: url('/navidad/Trineo.png');
    width: 400px;
    height: 200px;
    background-size: cover;
    animation: Trineo 3s linear ;
    margin-top: 50px;
    animation-fill-mode: forwards; 
}

@keyframes moverCoche {
    0% {
        transform: translateX(250px);
    }
    100% {
        transform: translateX(100vw);
    }
}

@keyframes moverCorsa {
    0% {
        transform: translateX(1500px);
    }
    100% {
        transform: translateX(-100vw);
    }    
}

@keyframes Trineo {
    0% {
        transform: translate(0px, -10vw) scaleX(1); 
    }
    100% {
        transform: translate(1250px, -1000px) scaleX(1); 

    }    
}
